
.TTWForm{
 	width: 465px;
}


.TTWForm .field{
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
    clear: both;
}



.TTWForm input, .TTWForm textarea{
    width:100%;
    font: 12px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
    padding: 6px 0;
    color: #999999;
    border: 1px solid #d9d9d9;
    outline: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px #eee inset;
    -moz-box-shadow: 0 0 10px #eee inset;
    -webkit-box-shadow: 0 0 10px #eee inset;
    -ms-box-shadow: 0 0 10px #eee inset;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.TTWForm input:focus, .TTWForm textarea:focus, .TTWForm select:focus {
    -webkit-box-shadow: 0px 0px 5px #bfdeff;
    -moz-box-shadow: 0px 0px 5px #bfdeff;
    box-shadow: 0px 0px 5px #bfdeff;
}

.TTWForm textarea {
    overflow: hidden;
}

.TTWForm label {
    color: #666;
    text-align: left;
    font: 16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
}

.TTWForm .submit input {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    text-shadow: 1px 1px 0px #fff;
    display: block;
    margin: 12px -2px 12px 0;
    text-align: center;
    float: right;
    padding: 6px 12px;
    height: 36px;
    cursor: pointer;
    min-width: 96px;
    width:auto;
    background: #FBFBFB;
    background: -moz-linear-gradient(top, #FBFBFB 0%, #EEEEEE 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(99%, #EEEEEE)); 
    border: 1px solid #cfcfcf;
    font-weight: bold;
    color: #666;
}